

html {
	background: url("img/Texture_1.jpg");
	width:100%;
	height:100%;
}

.BattleField {
	box-shadow: 0px 6px 20px 4px black;
}

table, th, td {

    text-align:center;
    border-collapse:collapse;

}

th, td {
    padding: 5px;
}


.none {
	background: rgba(100 100 100 0.0);
	border:none;
}

#ReadyDiv {
	position:fixed;
	background:lightgrey;
	color:red;
	box-shadow: 5px 5px 8px 5px black;
	margin:5% 30%;
	padding:3% 10%;
	text-align:center;
}

.empty {
	background:black;
	color:white;
	border:solid;
	border-width:5px;
	border-color:green;
	border-collapse:collapse;
}

.spells {
	margin-bottom:1%;
	color:white;
	background:lightblue;
	border-color:lightblue;
	width:100%;
	
}


.firespell {
	color:black;
	background:darkred;
	border-color:red;
	margin-right:3%;
	margin-left:3%;
	margin-top:2%;
	margin-bottom:2%;
	
}

.icespell {
	color:black;
	background:blue;
	border-color:#006BFF;
	margin-right:3%;
	margin-top:2%;
	margin-bottom:2%;

	
}

.lightningspell {
	color:black;
	background:#FFFA45;
	border-color:#FFFA68;
	margin-right:1%;
	margin-top:2%;
	margin-bottom:2%;
	
}


.Play1Abilities {
	background:black;
	border:solid;
	border-color:green;
	color:white;
	margin-right:60%;
	overflow:hidden;
	width:300px;
	box-shadow: 0px 6px 20px 5px black;
}

.Play2Abilities {
	background:black;
	border:solid;
	border-color:green;
	color:white;
	margin-left:60%;
	overflow:hidden;
	width:300px;
	box-shadow: 0px 6px 20px 5px black;
}

.attScrn {
	background:rgba(255, 255, 255, 0.6);
}

.AbilityTable {
	margin:0% 4%;
}

.healspell {
	background: #FF00F9;
	border:solid;
	border-color:pink;
	margin-right:1%;
	margin-top:2%;
	margin-bottom:2%;
	color:black;
}

#GameOver  {
		position:fixed;
	background:lightgrey;
	color:red;
	box-shadow: 5px 5px 8px 5px black;
	margin:10% 30%;
	padding:3% 10%;
	text-align:center;
}

.Play1Weapon,button {
	margin:2% 2%;
}

.Play2Weapon,button {
	margin:2% 2%;
}
